<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pn%>.User.Setting</title>
    <link rel="icon" href="/images/icon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="userpart">
        <div class="alloptions">

            <div class="userprofile">
                <img src="<%= userdata.profileImage%>" alt="user image">
                <div class="data">
                    <h3><%= userdata.profilename %></h3>
                    <h5><%= userdata.email %></h5>
                </div>
            </div>

            
            <!-- <a id="my_skills_butt" class="hoverwhite"><h5><i class="fa-solid fa-book-open-reader" style="color: #303031;"></i> &nbsp; &nbsp;My Skills</h5></a>
            <a id="find_match_butt" class="hoverwhite"><h5><i class="fa-solid fa-user-plus" style="color: #202122;"></i> &nbsp; &nbsp;Find Match</h5></a> -->
            <a href="/user/<%= userdata.id %>" id="mentors_butt" class="hoverwhite"><h5><i class="fa-solid fa-face-smile-beam" style="color: #232325;"></i> &nbsp; &nbsp;Mentors</h5></a>
            <!-- <a id="changeset_1" class="hoverwhite"><h5><i class="fa-solid fa-book-medical" style="color: #262627;"></i> &nbsp; &nbsp;Add Skills</h5></a>
            <a href="" class="hoverwhite"><h5><i class="fa-solid fa-message" style="color: #252627;"></i> &nbsp; &nbsp;Messages</h5></a> -->




            <div class="bottum">
                <a id="change" class="hoverwhite"><h5><i class="fa-solid fa-gear" style="color: #0c0d0d;"></i> &nbsp; &nbsp;Account Setting</h5></a>
                <a href="/" class="hoverwhite"><h5><i class="fa-solid fa-arrow-right-from-bracket" style="color: #222325;"></i>&nbsp;&nbsp; Log Out</h5></a>
            </div>
        </div>
    </div>


<!-- .............................for the Setting or addSckill section ............................... -->
<div class="skillspart" id="forSetting">
    <div class="allcontaint">
        <div class="nav">
            <h2>Account Settings</h2>
            <!-- <a class="mess" id="mess2"><i class="fa-solid fa-message" style="color: #252627;"></i></a> -->
        </div>

        <div class="content">

            <div class="userimage">
                <img src="<%= userdata.profileImage %>" alt="user image">

                <form action="/upload/<%= userdata.id%>/img" method="post" enctype="multipart/form-data">
                    <input type="file" name="userimg" id="userimg">
                    <button>Change</button>
                </form>
            </div>
        </div>

    </div>
</div>


<script src="/js/seting.js"></script>
</body>
</html>